.max-width-container {
  height:620px;
  /*background-color:red;*/
  max-width:1000px;
  min-width:1000px;
  /*width:60%;*/
  display:flex;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  visibility: hidden;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color:pink;
}

/*.navbar {
  width:300px;
}*/

.color-swatch {
  width:100%;
  height:20px;
  border-radius:4px;
}

.color-picker {
  margin-top:10px;
}

.edit-panel {

  border-top-left-radius:4px;
  border-top-right-radius:4px;
  /*width:30%;*/
  height:100%;
  /*width:500px;*/
  width: 320px;
  /*min-width: 250px;*/
  /*width:300px;*/
  /*width: 330px;*/
  background-color: red;
}

.right-panel-container {
  height:600px;
  /*background-color:pink;*/
}

.shirt-panel {

  /* new way?

  height:100%;
  min-width: 560px;
  width:100%;
  background-color: crimson;
  margin:auto;
  background-image:url("images/blankShirtCropped.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;

  */

  flex-grow:1;
  height:100%;
  min-width:480px;
  /*margin-left:200px;*/
  /*background-color:magenta;*/
  /*background-color:green;*/
  background-image: url("images/whiteShirt.png");
  background-size: 570px 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*do something about delayed centering on resize */
  background-position: center 60px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.platen {
  /*background-color:cyan;*/
  width:210px;
  height:240px;
  margin:auto;
  margin-top:98px;
  outline: 1px dashed black;
}

.mobile-layout-buttons-row {
  display:flex;
  width:100%;
  bottom:10px;
  /*position:fixed;*/
  /*left:2.5%;
  right:2.5%;*/
  visibility:hidden;
  margin-left:auto;
  margin-right:auto;
}


.well-section-heading {
  text-align:center;
  width:100px;
  background-color:green;
  max-width:100%;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  height:38px;
  color:white;
  font-size:2em;
  font-family:Franchise-Bold;
  line-height:1.5;
}

.well-section-heading img {
  width:80%;
  height:80%;
  object-fit:contain;
}

.left-panel-container {
  height:360px;
}

.image-section-heading {
  text-align:center;
  width:100px;
  background-color:green;
  max-width:100%;
  font-size:18px;
  margin-top:-20px;
  height:38px;
  color:white;
  font-family:Franchise-Bold;
  line-height:1.5;
  font-size:2em;
}

.image-section-heading img {
  width:80%;
  height:80%;
  object-fit:contain;
}

.image-upload-section {
  height:118px;
}

.image-upload-section p {
  margin-top:10px;
  font-size:12px
}

.start-over-button {
  width:100%;
  height:40px;
  /*background-color:black;*/
  margin-top:-10px;
}

.start-over-button img {
  width:100%;
  height:32px;
  margin-top:-4px;
  object-fit:contain;
}

.trash-can {
  /*background-color:blue;*/
  visibility:hidden;
  position:fixed;
  top:60px;
  left:5%;
  width:30px;
  height:30px;
  background-image: url("images/trashcan.png");
  background-repeat:no-repeat;
  background-size: contain;
  background-position:50% 50%;
}

.toggle-shirt-color-btn {
  visibility:hidden;

  /*background-color:blue;*/
  position:fixed;
  top:60px;
  right:5%;
  width:40px;
  height:40px;
  background-image: url("images/blackShirt.jpg");
  background-repeat:no-repeat;
  background-size: contain;
  background-position:50% 50%;
}

textarea {
  resize: none;
  margin:auto;
}

.right-panel-continue-btn {
  width:100%;
  height:40px;
  background-color:black;
  margin-top:-10px;
}
.right-panel-continue-btn img {
  width:100%;
  height:32px;
  margin-top:-4px;
  object-fit:contain;
}

#getval2 {
  width:100%;
}

div.upload input {
    display: block !important;
    /*width: 157px !important;*/
    /*height: 40px !important;*/
    /*background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);*/
    background-repeat:no-repeat;
    opacity: 0 !important;
    overflow: hidden !important;
    background-image: url("images/addImage.png");

}

div.uploadMobileView input {
  height:1.8em;
    display: block !important;
    background-repeat:no-repeat;
    /*width: 157px !important;*/
    /*height: 40px !important;*/
    /*background-image: url("images/addImage.png");*/

    opacity: 0 !important;
    overflow: hidden !important;
}
