.max-width-container {
  height:620px;
  /*background-color:red;*/
  max-width:1000px;
  min-width:1000px;
  /*width:60%;*/
  display:flex;
  margin-left:auto;
  margin-right:auto;
  margin-top:60px;
  visibility: hidden;
}

body {
  background-color:gray;
}

.edit-panel {
  border-top-left-radius:4px;
  border-top-right-radius:4px;

  height:100%;
  /*width:500px;*/
  width: 300px;
  /*min-width: 250px;*/
  /*width:300px;*/
  /*width: 330px;*/
  background-color: green;
}

.shirt-panel {
  height:100%;
  min-width: 560px;
  width:100%;
  /*background-color: crimson;*/
  margin:auto;
  background-image:url("images/blankShirtCropped.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

.platen {
  /*background-color:cyan;*/
  width:210px;
  height:240px;
  margin:auto;
  margin-top:98px;
  outline: 1px dashed black;
}

.mobile-layout-buttons-row {
  display:flex;
  width:100%;
  bottom:10px;
  /*position:fixed;*/
  /*left:2.5%;
  right:2.5%;*/
  visibility:hidden;
  margin-left:auto;
  margin-right:auto;
}


.well-section-heading {
  text-align:center;
  width:100px;
  background-color:green;
  max-width:100%;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  height:38px;
  color:white;
  font-size:2em;
  font-family:Franchise-Bold;
  line-height:1.5;
}

.well-section-heading img {
  width:80%;
  height:80%;
  object-fit:contain;
}

.image-section-heading {
  text-align:center;
  width:100px;
  background-color:green;
  max-width:100%;
  font-size:18px;
  margin-top:-20px;
  height:38px;
  color:white;
  font-family:Franchise-Bold;
  line-height:1.5;
  font-size:2em;
}

.image-section-heading img {
  width:80%;
  height:80%;
  object-fit:contain;
}

.start-over-button {
  padding-bottom:10px;
  width: 100%;
  font-family:Franchise-Bold;
  /*font-size:2em;
  line-height:1em;*/
  /*background-color:black;*/
  color:white;
  margin-top:-10px;
}

.start-over-button img {
  object-fit:contain;
  width:50%;
  height:80%;
}
